################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dll
/lib
/Documentation
.vs
Debug
Release
Projects/*
!Projects/Example Projects/