################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dll
/lib
/Spore ModAPI/.vs/Spore ModAPI/v16
/EASTL-3.02.01
/Projects/Example Projects/.vs/Example Projects/v16
/Projects/Example Projects/EnhancedColorPicker/Debug
/Projects/Example Projects/GmdlExport/Debug
/Projects/Example Projects/ModCreatorKit/Debug
/Projects/Example Projects/SpaceToolCheat/Debug
/Projects/Example Projects/TemplatesExample/Debug
